<div ng-controller="forumController">
  <div class="container">
    <br/>
    <br/>
    <br/>
    <div><!--  ng-show="isUserAuthenticated()" -->
      <div class="row">
        <div class="col-lg-12 well">
          <div forum-id="forumId" show-details="true" type="forum" forum-details></div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-lg-12">
          <div forum-threads forum-id="forumId" post-url="/forums/iac" />
        </div>
      </div>
  </div>
  <!-- <div forum-login ng-show="!isUserAuthenticated()" /> -->

</div>
<br/>
<br/>
<br/>
<div>



  <!-- // <script type="text/ng-template"  id="tree_item_renderer.html">
//     {{data.name}}
//     <button ng-click="add(data)">Add node</button>
//     <button ng-click="delete(data)" ng-show="data.nodes.length > 0">Delete nodes</button>
//     <ul>
//         <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
//     </ul>
// </script>
//
// <ul ng-app="Application" ng-controller="TreeController">
//     <li ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></li>
// </ul> -->
  <!-- ul {
    list-style: none;
}
li {
    margin-left: 20px;
} -->

  <!--
angular.module("myApp", []).
controller("TreeController", ['$scope', function($scope) {
    $scope.delete = function(data) {
        data.nodes = [];
    };
    $scope.add = function(data) {
        var post = data.nodes.length + 1;
        var newName = data.name + '-' + post;
        data.nodes.push({name: newName,nodes: []});
    };
    $scope.tree = [{name: "Node", nodes: []},{name: "Node Blaise", nodes: []},{name: "Forum 34kf", nodes: [{name: "blaise", nodes: []},{name: "Fonseca", nodes: []},]},];
}]); -->
