<div>

  <div class="row" id="msg"style="display:none">
    <div class="col-lg-12">
      <div   class="alert" ng-class="{'alert-success':success, 'alert-danger':error}">
        <button type="button" class="close" ng-click="closeMessage()">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <span ng-show="success">Post updated successfully.</span>
        <span ng-show="error">{{error}}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="well" ng-repeat="data in forumPosts | orderBy: forumPostID:true" style="background-color: #fff;" id="post_{{data.forumPostID}}">
        <div class="alert alert-info" role="alert" ng-show="!data.approved">Approval pending</div>
        <strong ng-bind-html="data.subject|lstring:locale"></strong> [#{{data.forumPostID}}]
        <hr style="margin-top: 0px; margin-bottom: 0px;" /> </br>
        <span ng-bind-html="data.message|lstring:locale"></span>
        </br>
        </br>
        <div forum-post post="data" thread-id="data.threadID" post-id="data.forumPostID" type="post" title="Add new Post" />
      </div>
    </div>
  </div>
</div>
